web/WSDL/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://service.users.upem.com/" name="StudentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.users.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.users.upem.com/" schemaLocation="StudentService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateStudent">
    <part name="parameters" element="tns:updateStudent"/>
  </message>
  <message name="deleteStudent">
    <part name="parameters" element="tns:deleteStudent"/>
  </message>
  <message name="getAllStudents">
    <part name="parameters" element="tns:getAllStudents"/>
  </message>
  <message name="getAllStudentsResponse">
    <part name="parameters" element="tns:getAllStudentsResponse"/>
  </message>
  <message name="getStudentByID">
    <part name="parameters" element="tns:getStudentByID"/>
  </message>
  <message name="getStudentByIDResponse">
    <part name="parameters" element="tns:getStudentByIDResponse"/>
  </message>
  <message name="getStudentByEmail">
    <part name="parameters" element="tns:getStudentByEmail"/>
  </message>
  <message name="getStudentByEmailResponse">
    <part name="parameters" element="tns:getStudentByEmailResponse"/>
  </message>
  <message name="existsStudent">
    <part name="parameters" element="tns:existsStudent"/>
  </message>
  <message name="existsStudentResponse">
    <part name="parameters" element="tns:existsStudentResponse"/>
  </message>
  <message name="createStudent">
    <part name="parameters" element="tns:createStudent"/>
  </message>
  <portType name="StudentService">
    <operation name="updateStudent">
      <input wsam:Action="http://service.users.upem.com/StudentService/updateStudent" message="tns:updateStudent"/>
    </operation>
    <operation name="deleteStudent">
      <input wsam:Action="http://service.users.upem.com/StudentService/deleteStudent" message="tns:deleteStudent"/>
    </operation>
    <operation name="getAllStudents">
      <input wsam:Action="http://service.users.upem.com/StudentService/getAllStudentsRequest" message="tns:getAllStudents"/>
      <output wsam:Action="http://service.users.upem.com/StudentService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
    </operation>
    <operation name="getStudentByID">
      <input wsam:Action="http://service.users.upem.com/StudentService/getStudentByIDRequest" message="tns:getStudentByID"/>
      <output wsam:Action="http://service.users.upem.com/StudentService/getStudentByIDResponse" message="tns:getStudentByIDResponse"/>
    </operation>
    <operation name="getStudentByEmail">
      <input wsam:Action="http://service.users.upem.com/StudentService/getStudentByEmailRequest" message="tns:getStudentByEmail"/>
      <output wsam:Action="http://service.users.upem.com/StudentService/getStudentByEmailResponse" message="tns:getStudentByEmailResponse"/>
    </operation>
    <operation name="existsStudent">
      <input wsam:Action="http://service.users.upem.com/StudentService/existsStudentRequest" message="tns:existsStudent"/>
      <output wsam:Action="http://service.users.upem.com/StudentService/existsStudentResponse" message="tns:existsStudentResponse"/>
    </operation>
    <operation name="createStudent">
      <input wsam:Action="http://service.users.upem.com/StudentService/createStudent" message="tns:createStudent"/>
    </operation>
  </portType>
  <binding name="StudentServicePortBinding" type="tns:StudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getAllStudents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStudentByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStudentByEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="existsStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="StudentService">
    <port name="StudentServicePort" binding="tns:StudentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

