web/WSDL/TeacherService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://service.users.upem.com/" name="TeacherService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.users.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.users.upem.com/" schemaLocation="TeacherService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTeacherByEmail">
    <part name="parameters" element="tns:getTeacherByEmail"/>
  </message>
  <message name="getTeacherByEmailResponse">
    <part name="parameters" element="tns:getTeacherByEmailResponse"/>
  </message>
  <message name="deleteTeacher">
    <part name="parameters" element="tns:deleteTeacher"/>
  </message>
  <message name="updateTeacher">
    <part name="parameters" element="tns:updateTeacher"/>
  </message>
  <message name="getTeacherByID">
    <part name="parameters" element="tns:getTeacherByID"/>
  </message>
  <message name="getTeacherByIDResponse">
    <part name="parameters" element="tns:getTeacherByIDResponse"/>
  </message>
  <message name="getAllTeachers">
    <part name="parameters" element="tns:getAllTeachers"/>
  </message>
  <message name="getAllTeachersResponse">
    <part name="parameters" element="tns:getAllTeachersResponse"/>
  </message>
  <message name="existsTeacher">
    <part name="parameters" element="tns:existsTeacher"/>
  </message>
  <message name="existsTeacherResponse">
    <part name="parameters" element="tns:existsTeacherResponse"/>
  </message>
  <message name="createTeacher">
    <part name="parameters" element="tns:createTeacher"/>
  </message>
  <portType name="TeacherService">
    <operation name="getTeacherByEmail">
      <input wsam:Action="http://service.users.upem.com/TeacherService/getTeacherByEmailRequest" message="tns:getTeacherByEmail"/>
      <output wsam:Action="http://service.users.upem.com/TeacherService/getTeacherByEmailResponse" message="tns:getTeacherByEmailResponse"/>
    </operation>
    <operation name="deleteTeacher">
      <input wsam:Action="http://service.users.upem.com/TeacherService/deleteTeacher" message="tns:deleteTeacher"/>
    </operation>
    <operation name="updateTeacher">
      <input wsam:Action="http://service.users.upem.com/TeacherService/updateTeacher" message="tns:updateTeacher"/>
    </operation>
    <operation name="getTeacherByID">
      <input wsam:Action="http://service.users.upem.com/TeacherService/getTeacherByIDRequest" message="tns:getTeacherByID"/>
      <output wsam:Action="http://service.users.upem.com/TeacherService/getTeacherByIDResponse" message="tns:getTeacherByIDResponse"/>
    </operation>
    <operation name="getAllTeachers">
      <input wsam:Action="http://service.users.upem.com/TeacherService/getAllTeachersRequest" message="tns:getAllTeachers"/>
      <output wsam:Action="http://service.users.upem.com/TeacherService/getAllTeachersResponse" message="tns:getAllTeachersResponse"/>
    </operation>
    <operation name="existsTeacher">
      <input wsam:Action="http://service.users.upem.com/TeacherService/existsTeacherRequest" message="tns:existsTeacher"/>
      <output wsam:Action="http://service.users.upem.com/TeacherService/existsTeacherResponse" message="tns:existsTeacherResponse"/>
    </operation>
    <operation name="createTeacher">
      <input wsam:Action="http://service.users.upem.com/TeacherService/createTeacher" message="tns:createTeacher"/>
    </operation>
  </portType>
  <binding name="TeacherServicePortBinding" type="tns:TeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTeacherByEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="updateTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getTeacherByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllTeachers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="existsTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="TeacherService">
    <port name="TeacherServicePort" binding="tns:TeacherServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

